# Токен бота от @BotFather
BOT_TOKEN=8765089286:AAHOE4i227rl4z1CzobJMOCrbI-IF0qFGsQ

# Username бота без @ (для реферальных ссылок в разделе «Реферал.ссылки»)
BOT_USERNAME=risetestq_bot

# ID администраторов через запятую. Узнать ID: @userinfobot
ADMIN_IDS=7392364029
